{% extends "menu.html" %}
{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'multiple_choice/login.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Edit Test</title>

  <h2 class="sign" align="center">Select Question to Edit</h2>
</head>

<body>
  <form name = "quiz" method = "post" action = "{% url 'editor' test_id %}">
    {% csrf_token %}
    <!-- Main Content -->
    <div class="container" id="container">
      <!-- Configue Quiz -->
      <div class="row" id="quizConfig">
        <form class="col s12">
          <div class="row">
          </div>
        </form>
    <h5> Edit Test </h5>
  

  
      <!-- Quiz Form -->
      <div id="formContainer" class="row hide">
        <form id="quizForm" class="col s12">

          <!-- User Input 1 -->
          <div class="row">
            <div class="input-field col s12 m6">
                {% for question in questions %}

                  <label for="{{question.id}}"></label>
                  <input name="{{question.id}}" id="{{question.id}}" value="{{question.content}}" type="text" class="validate">

                  {% for answer in question.answers %}
                    <input id="{{answer.id}}" value="{{ answer.content }}" type="text" class="validate">
                    <label>Option</label>
                  {% endfor %}
                
                  {% endfor %}
            </div>
          </div>

          <!--Correct Answer-->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="correctValue" placeholder="Enter the correct answer. A,B,C?" type="text" class="validate">
              <label>Correct Answer</label>
            </div>
          </div>
  
          <!-- Submit Button -->
          <div id="submitBtn" class="col s6">
            <a id="submit" class="waves-effect waves-light btn-small">Add to bank</a>
          </div>
        </form>
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>   
  </body>

{% endblock %}