{% extends "menu.html" %}
{% load static %}

{% block content%}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'multiple_choice/list.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans" />
  <title>Quiz Title</title>
</head>


<body style="background-color: #c6e4c2;">
  <div id="container2">
    <div id="header">
      <h1>Quizlister</h1>
      <p> Login </p>
    </div>
    <div>
      <div id="content">
        <h3>Existing Quizzes</h3>
        <table>
          {% for test in tests %}
          <tr>
            <th>{{test.title}}</th>
            <th>{{test.creator}}</th>
            <th>{{test.created_at}}</th>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- <div id="navigation">
      <h3>Create Quiz</h3>
      <ul>
        <li>Quiz with 3 questions</li>
        <li>Quiz with 5 questions</li>
        <li>Quiz with custom questions</li>
      </ul>
      <h3>Edit Quiz</h3>

    </div> -->
    <!-- <div id="extra">
      <h3>What else could we add:</h3>
      <ul>
        <li>1. Useful tool</li>
        <li>2. Useful tool</li>
        <li>3. Useful tool</li>
        <li>And more</li>
      </ul>
    </div> -->
  </div>
  </div>
  <script type="text/javascript">
    AddFillerLink("content", "navigation", "extra")
  </script>
</body>
{% endblock %}