<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'multiple_choice/list.css' %}?{% now 'U' %}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans" />
  <title>Quiz Title</title>
</head>


<body>
  <div id="container">
    <div id="header">
      <h1>Quizlister</h1>
      <p> Login </p>
    </div>
    <div id="wrapper">
      <div id="content">
        <h3>Existing Quizzes </h3>
        <table>
          <tr>
            <th>Quiz</th>
            <th>Creator</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>Math Modeling Quiz 1</td>
            <td>Mariano Jalif</td>
            <td>4/10/2022</td>
          </tr>
          <tr>
            <td>Database Programming Quiz 1</td>
            <td>Alec Green</td>
            <td>4/10/2022</td>
          </tr>
          <tr>
            <td>Software Testing Quiz 77</td>
            <td>Kyler England</td>
            <td>4/10/2022</td>
          </tr>
        </table>
        <h3>Who knows what else</h3>
        <p> This is an area for some potential text.
        </p>
      </div>
    </div>
    <div id="navigation">
      <h3>Create Quiz</h3>
      <ul>
        <li>Quiz with 3 questions</li>
        <li>Quiz with 5 questions</li>
        <li>Quiz with custom questions</li>
      </ul>
      <h3>Edit Quiz</h3>
      <ul>
        <p> Example text </p>
      </ul>
    </div>
    <div id="extra">
      <h3>What else could we add:</h3>
      <ul>
        <li>1. Useful tool</li>
        <li>2. Useful tool</li>
        <li>3. Useful tool</li>
        <li>And more</li>
      </ul>
    </div>
    <div id="footer">
      <p>Footer</p>
    </div>
  </div>
  <script type="text/javascript">
    AddFillerLink("content", "navigation", "extra")
  </script>
</body>

</html>