<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'multiple_choice/menu.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>
<nav>
  <link rel="stylesheet" href="{% static 'multiple_choice/menu.css' %}">
  <a href="{% url 'new_test' %}">Add Test</a>
  <a href="{% url 'edit_test' %}">Edit Test</a>
  <a href="{% url 'take_test' %}">Take Test</a>
  <a href="{% url 'list' %}">History</a>
  <a href="{% url 'account_info' %}">Account</a>
</nav>

<div class="wrapper">
  {% block content %}
  {% endblock %}
</div>

</html>