{% extends "menu.html" %}
{% load static %}

{% block content%}

<head>
  <link rel="stylesheet" href="{% static 'multiple_choice/login.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign in</title>
</head>

<h2 class="sign" align="center">Questions</h2>

<body>
  {% for question in questions %}
    <form name="questions" method="post" action="{% url 'questions' %}">
      {% csrf_token %}
    <ul align="center">
      <b>{{ question.content }}</b>
      <input type="hidden" name="id" value="{{ question.id }}">
      <button type="submit" style="color:red">Delete</button>
    </ul>
  </form>
  {% endfor %}


</body>

{% endblock %}