{% extends "menu.html" %}
{% load static %}

{% block content%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'multiple_choice/list.css' %}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans" />
  <title>Quiz Title</title>
</head>


<body style="background-color: #c6e4c2;">
  <div id="container2">
    <div id="header">
      <h1>Tests Taken</h1>
    </div>
    <div>
      <div id="content">
        <h3>Test List</h3>
        <table>
          {% for test in tests %}
          <tr>
            <th>{{taken.test_id}}</th>
            <th>{{taken.student_id}}</th>
            <th>{{taken.score}}</th>
            <th>{{taken.taken_at}}</th>

          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  <script type="text/javascript">
    AddFillerLink("content", "navigation", "extra")
  </script>
</body>
{% endblock %}