<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'multiple_choice/login.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans" />
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="quiz" method="post" action="{% url 'test_taken' test.id %}">
        {% csrf_token %}
    <p>
        {% for question in questions %}
        <p id="{{  }}">
            {{ question.content }}
            <span>
                {% for answer in question.answers %}
                <p>
                    <input type="radio" name="{{ question }}" id="{{ answer.id }}" value="{{ answer.id }}" />
                    <label for="{{ answer.id }}">{{ answer.content }}</label>                                                                
                    <br/>
                </p>
                {% endfor %}
            </span>
        </p>
        {% endfor %}
    </p>
    <input type="submit" value="Submit">
    </form>
</body>
</html>