<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form name="quiz" method="post" onsubmit="#">
    
    <p>
        {% for question in questions %}
        {% with current=1 %}
        {% if forloop.counter == current %}  
        <p>
            {{ question.content }}
            <span>
                {% for answer in question.answers %}
                
                <p>
                    <input id="selection" class="with-gap" type="radio" name='choices' method= "post" />
                    <span id="option1">{{ answer.content }}</span>
                    
                </p>
                {% endfor %}
                
                
            </span>
        </p>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </p>
    <input type="submit" value="Submit">

</form>

<script>
    console.log("hi");

    var counter = 0;
    console.log(counter);
    counter++;
    console.log(counter);
    counter++;
    console.log(counter);
    counter++;
    "{{ current }}" = counter;
    console.log("{{ current }}");


  </script>
</body>
</html>