<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="quiz" method="post" onsubmit=getResults() action="#">
        {% csrf_token %}
    <p>
        {% for question in questions %}
        <p id = "question">
            {{ question.content }}
            <span>
                {% for answer in question.answers %}
                
                <p>
                    <input id="selection" class="with-gap" type="radio" name="{{ question.id }}" method= "post" />
                    <span id="{{ answer.id }}">{{ answer.content }}</span>
                    
                </p>
                {% endfor %}
            </span>
        </p>
        {% endfor %}
    </p>
    <input type="submit" value="Submit">
    <script>
    function getResults(){
    var questions = document.getElementsByTagName("question"),
    questions = 0;
    for (var i=0, n=question.length; i<n; ++i) {
            ++questions;
        }
    alert("You got 0/" + questions + " questions correct.");
    }
    </script>
</form>
</body>
</html>